h1{
    font-family: 'tahoma';
    text-align: center;
    color:white;
}

.s1{
    background:url('5.jpg');
    background-size: cover;
    background-position: center;
}

.s2{
    background:url('4.jpg');
    background-size: cover;
    background-position: center;
}

.s3{
    background:url('3.jpg');
    background-size: cover;
    background-position: center;
}